<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <input matInput placeholder="Mês" disabled>
    <mat-menu #appMenu="matMenu">
      <button (click)="answer(month.value)" *ngFor="let month of months" mat-menu-item>{{ month.name }}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <input matInput placeholder="years">
  <mat-menu #appYears="matMenu" class="matYear">
    <button (click)="answer(year)" *ngFor="let year of years" mat-menu-item>{{ year }}</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appYears">
    <mat-icon>more_vert</mat-icon>
  </button>

  <input matInput placeholder="days">
  <mat-menu #appDays="matMenu" class="matDay">
    <button (click)="answer(day)" *ngFor="let day of days" mat-menu-item>{{ day }}</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appDays">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
