<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <mat-menu #appMenu="matMenu">
      <button (click)="answer(month.value)" *ngFor="let month of months" mat-menu-item>{{ month.name }}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <input matInput placeholder="Mês" disabled for="appMenu">
      <mat-icon>calendar_today</mat-icon>
    </button>
    <mat-menu #appYears="matMenu" class="matYear">
      <button (click)="answer(year)" *ngFor="let year of years" mat-menu-item>{{ year }}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appYears">
      <input matInput placeholder="years">
      <mat-icon>calendar_today</mat-icon>
    </button>


    <mat-menu #appDays="matMenu" class="matDay">
      <button (click)="answer(day)" *ngFor="let day of days" mat-menu-item>{{ day }}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appDays">
      <input matInput placeholder="days">
      <mat-icon>calendar_today</mat-icon>
    </button>
  </div>
</div>
